/* Global Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #03A9F4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
#start-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

h1 {
    color: dodgerblue;
}
/* Quiz Container */
.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 80vh;
    border: 2px solid #03A9F4;
    border-radius: 10px;
}

#question-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

/* Hide Element */
.hide {
    display: none;
}



/* Choices */
#choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.choice {
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    text-align: left;
    border: 2px solid #eee;
    border-radius: 10px;
    background-color: dodgerblue;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.choice:hover {
    background-color: #f5f5f5;
}

.choice:focus {
    outline: none;
    box-shadow: 0 0 5px #03A9F4;
}

/* Button styling */
button {
	font-size: 1.2rem;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: dodgerblue;
	color: white;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
  }
  
  button:hover {
	background-color: lightslategray;
  }
  
  button:focus {
	outline: none;
	box-shadow: 0 0 5px dodgerblue;
  }
  
  /* Make specific buttons larger if needed */
  #start-button,
  #submit-button,
  #go-back-button,
  #clear-highscores-button {
	font-size: 1.5rem;
	padding: 12px 24px;
  }

  /* Timer Styling */
#timer {
    margin-top: 20px;
    font-weight: bold;
    color: #03A9F4;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
}

#time {
    font-size: 24px;
}

/* Highscores */
#highscores-container {
    margin-top: 20px;
    padding: 40px;
    border: 2px solid #03A9F4;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#highscores-container h2 {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 30px;
    text-align: center;
}

#highscores-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#highscores-list li {
    margin-bottom: 10px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid #eee;
    border-radius: 10px;
    background: dodgerblue;
    color: white;
}